 .button1 {
     border-color: rgb(44, 255, 51);
     background-color: rgb(241, 234, 229);
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 3px;
     border-radius: 20px;
     color: rgb(221, 80, 19);
     text-align: center;
 }
 
 .button1:hover {
     border-color: rgb(37, 246, 37);
     background-color: rgb(161, 246, 161);
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     color: rgb(196, 43, 13);
     font-family: 'Courier New', Courier, monospace;
     padding: 2px;
     border-radius: 20%;
     transition-duration: 1s;
 }
 
 .button2 {
     border-color: brown;
     background-color: rgb(241, 234, 229);
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     padding: 3px;
     border-radius: 20px;
     color: rgb(130, 221, 19);
 }
 
 .button3 {
     border-color: brown;
     background-color: rgb(241, 234, 229);
     padding: 3px;
     border-radius: 20px;
     color: rgb(36, 19, 221);
     bottom: 10%;
     text-align: center;
 }
 
 .button2:hover {
     border-color: rgb(14, 246, 14);
     background-color: rgb(174, 244, 174);
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     color: rgb(26, 88, 246);
     font-family: 'Courier New', Courier, monospace;
     padding: 2px;
     border-radius: 40%;
     transition-duration: 1s;
 }
 
 button2 {
     border-radius: 40%;
 }
 /* Add a black background color to the top navigation */
 
 #navbar {
     overflow: hidden;
     background-color: #333;
     text-align: left;
 }
 /* Navbar links */
 
 #navbar a {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: left;
     padding: 10px;
     text-decoration: none;
     position: fixed;
 }
 /* The sticky class is added to the navbar with JS when it reaches its scroll position */
 
 .sticky {
     position: fixed;
     top: 0;
     width: 100%;
 }
 /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
 
 .sticky+.content {
     padding-top: 60px;
 }
 /* The sticky class is added to the navbar with JS when it reaches its scroll position */
 
 .sticky {
     position: fixed;
     top: 0;
     width: 100%;
 }