    .header {
        padding: 10px;
        text-align: center;
        background: #1abc9c;
        color: white;
        font-size: 30px;
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    h1 {
        max-width: 100%;
        font-style: italic;
        text-align: center;
        color: black;
        font-size: 4em;
        transition: 0.5s;
        font-family: fantasy;
    }
    
    h1:hover {
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 10px 0 #ccc, 0 11px 0 #ccc, 0 12px 0 #ccc, 0 20px 30px rgba(0, 0, 0, 0.5);
    }
    
    .h3 {
        text-align: center;
        color: rgb(245, 231, 231);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: italic;
    }
    
    .productlist {
        background-color: #4fcaf6;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 5px;
        max-width: 100%;
    }
    
    .productlist .card1 {
        order: 1;
        background-color: rgb(245, 86, 86);
        border: rgb(0, 0, 0) 1px;
        border-radius: 10px;
        padding: 1em;
        box-shadow: 0px 10px 5px #b2bec3;
        text-align: center;
        font-family: fantasy;
    }
    
    .productlist .card1 .text {
        text-align: left;
        margin-left: 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(1, 131, 66);
    }
    
    .productlist .card1:hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: 0 34px 46px rgba(0, 0, 0, 0.11), 0 34px 46px var(--box-shadow-color);
        transition-duration: 1s;
    }
    
    .productlist .card2 {
        order: 2;
        background-color: rgb(245, 86, 86);
        border: rgb(0, 0, 0) 1px;
        border-radius: 10px;
        padding: 1em;
        box-shadow: 0px 10px 5px #b2bec3;
        text-align: center;
        font-family: fantasy;
    }
    
    .productlist .card2:hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
        transition-duration: 3s;
    }
    
    .card1 .title {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    
    .card1 img {
        max-width: 100%;
        border: #e9a3b7;
        border-radius: 80%;
        -webkit-filter: drop-shadow(400px);
        filter: drop-shadow();
    }
    
    .card2 img {
        max-width: 300px;
        border: #e9a3b7;
        border-radius: 80%;
        -webkit-filter: drop-shadow(400px);
        filter: drop-shadow();
    }
    
    a.link {
        color: rgb(0, 0, 0);
        background-color: rgb(230, 4, 4);
        padding: 3px;
        text-align: right;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
    }
    
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    a:active {
        text-decoration: none;
    }