* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 100vh;
    background-color: #b3e6f4;
}

.modal {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: right;
    gap: 0.4rem;
    width: 700px;
    padding: 2rem;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    background-color: rgba(111, 150, 244, 0.211);
    border: 1px solid #000000;
    border-radius: 30px;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.btn-open {
    position: absolute;
    bottom: 150px;
}

.close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

.open_btn {
    border-color: rgb(100, 44, 255);
    background-color: rgb(241, 234, 229);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px;
    padding: 3px;
    border-radius: 20px;
    color: rgb(19, 187, 221);
    text-align: center;
}

.open_btn:hover {
    border-color: rgb(37, 246, 37);
    background-color: rgb(161, 246, 161);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(13, 62, 196);
    font-family: 'Courier New', Courier, monospace;
    padding: 2px;
    border-radius: 20%;
    transition-duration: 1s;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}