.header {
  padding: 10px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  max-width: 100%;
  font-style: italic;
  text-align: center;
  color: black;
  font-size: 4em;
  transition: 0.5s;
  font-family: fantasy;
}

h1:hover {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc, 0 10px 0 #ccc, 0 11px 0 #ccc, 0 12px 0 #ccc, 0 20px 30px rgba(0, 0, 0, 0.5);
}

.h3 {
  text-align: center;
  color: rgb(245, 231, 231);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
}

.productlist {
  background-color: #4fcaf6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  max-width: 100%;
}

.productlist .card1 {
  order: 1;
  background-color: rgb(245, 86, 86);
  border: rgb(0, 0, 0) 1px;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px #b2bec3;
  text-align: center;
  font-family: fantasy;
}

.productlist .card1 .text {
  text-align: left;
  margin-left: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(1, 131, 66);
}

.productlist .card1:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 34px 46px rgba(0, 0, 0, 0.11), 0 34px 46px var(--box-shadow-color);
  transition-duration: 1s;
}

.productlist .card2 {
  order: 2;
  background-color: rgb(245, 86, 86);
  border: rgb(0, 0, 0) 1px;
  border-radius: 10px;
  padding: 1em;
  box-shadow: 0px 10px 5px #b2bec3;
  text-align: center;
  font-family: fantasy;
}

.productlist .card2:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11), 0 24px 46px var(--box-shadow-color);
  transition-duration: 3s;
}

.card1 .title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.card1 img {
  max-width: 100%;
  border: #e9a3b7;
  border-radius: 80%;
  filter: drop-shadow();
}

.card2 img {
  max-width: 300px;
  border: #e9a3b7;
  border-radius: 80%;
  filter: drop-shadow();
}

a.link {
  color: rgb(0, 0, 0);
  background-color: rgb(230, 4, 4);
  padding: 3px;
  text-align: right;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.button1 {
  border-color: rgb(44, 255, 51);
  background-color: rgb(241, 234, 229);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3px;
  border-radius: 20px;
  color: rgb(221, 80, 19);
  text-align: center;
}

.button1:hover {
  border-color: rgb(37, 246, 37);
  background-color: rgb(161, 246, 161);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(196, 43, 13);
  font-family: "Courier New", Courier, monospace;
  padding: 2px;
  border-radius: 20%;
  transition-duration: 1s;
}

.button2 {
  border-color: brown;
  background-color: rgb(241, 234, 229);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3px;
  border-radius: 20px;
  color: rgb(130, 221, 19);
}

.button3 {
  border-color: brown;
  background-color: rgb(241, 234, 229);
  padding: 3px;
  border-radius: 20px;
  color: rgb(36, 19, 221);
  bottom: 10%;
  text-align: center;
}

.button2:hover {
  border-color: rgb(14, 246, 14);
  background-color: rgb(174, 244, 174);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(26, 88, 246);
  font-family: "Courier New", Courier, monospace;
  padding: 2px;
  border-radius: 40%;
  transition-duration: 1s;
}

button2 {
  border-radius: 40%;
}

/* Add a black background color to the top navigation */
#navbar {
  overflow: hidden;
  background-color: #333;
  text-align: left;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 10px;
  text-decoration: none;
  position: fixed;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 100vh;
  background-color: #b3e6f4;
}

.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: right;
  gap: 0.4rem;
  width: 700px;
  padding: 2rem;
  min-height: 250px;
  position: absolute;
  z-index: 2;
  top: 20%;
  background-color: rgba(111, 150, 244, 0.211);
  border: 1px solid #000000;
  border-radius: 30px;
}

.modal .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal input {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
}

.modal p {
  font-size: 0.9rem;
  color: #777;
  margin: 0.4rem 0 0.2rem;
}

button {
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.4rem;
  font-weight: 700;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 1em;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%;
}

.open_btn {
  border-color: rgb(100, 44, 255);
  background-color: rgb(241, 234, 229);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 3px;
  padding: 3px;
  border-radius: 20px;
  color: rgb(19, 187, 221);
  text-align: center;
}

.open_btn:hover {
  border-color: rgb(37, 246, 37);
  background-color: rgb(161, 246, 161);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgb(13, 62, 196);
  font-family: "Courier New", Courier, monospace;
  padding: 2px;
  border-radius: 20%;
  transition-duration: 1s;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */